DATABASE_URL="postgresql://"
JWT_SECRET="chave-super-secreta-forte"

# Redis (Upstash, etc.)
# Ex: rediss://default:<password>@<host>:<port>
REDIS_URL=redis://localhost:6379
REDIS_HOST=localhost
REDIS_PORT=6379

# SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM_EMAIL=

# AbacatePay
ABACATEPAY_API_KEY=abc_v2_...
ABACATEPAY_WEBHOOK_SECRET=whsec_...

# App Config
APP_RETURN_URL=http://localhost:3000/payment/success
APP_COMPLETION_URL=http://localhost:3000/payment/thanks
